@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: black;
}
.menu{
    display: flex;
    border-bottom: 1px solid white;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin: 0%;
    /*
    position: fixed;
    */
    background-color: #ee4a00;
}
/*navegacion izquierda*/
.nav-izquierda{
    float: left;
}
.item{
    list-style:none;
    margin-left:25px;
    padding: 10px 0;
    float: left;
    padding-top: 20px;  
}
.item a{
    text-decoration: none;
    color: white;
}
/*navegacion derecha*/
.nav-derecha{
    padding-right: 30px;
    float: right;    
    display: flex;
    justify-content: center;
}
.item2{
    list-style:none;
    margin-left:25px;
    padding: 10px 0;
    float: right;
    padding-top: 20px;  
}
.item2 a{
    text-decoration: none;
    color: white;
}
.item2 img{
    width: 15px;
    height: 15px;
}

/*FOOTER*/
.container-footer{
    background-color:#ee4a00;
    height: 100%;
    width: 100%;
}
.container-textf{
    padding: 25px;
    text-align: center;
}
.container-textf p{
    color: white;
}


/*RESPONSIVE BARRA DE NAVEGACION*/
@media {
    
}