@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
.menu{
    display: flex;
    border-bottom: 1px solid white;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin: 0%;
    /*
    position: fixed;
    */
    background-color: #ee4a00;
}
/*navegacion izquierda*/
.nav-izquierda{
    float: left;
}
.item{
    list-style:none;
    margin-left:25px;
    padding: 10px 0;
    float: left;
    padding-top: 20px;  
}
.item a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
/*navegacion derecha*/
.nav-derecha{
    padding-right: 30px;
    float: right;    
    display: flex;
    justify-content: center;
}
.item2{
    list-style:none;
    margin-left:25px;
    padding: 10px 0;
    float: right;
    padding-top: 20px;  
}
.item2 a{
    text-decoration: none;
    color: white;
}
.item2 img{
    width: 15px;
    height: 15px;
    display: none;
}

#style-login{
    padding: 5px;
    background-color: #ffffff;
    color: #ee4a00;
    font-size: 15px;
    border-radius: 25px;
}
/*FOOTER*/
.contact{
    background-color:#ee4a00;
    height: auto;
    width: 100%;
    color: white;
    text-decoration: none;
}

.footer{
    padding: 10px 0;
}

.main{
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.col{
    width: 250px;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}
.col ul h4{
    font-size: 1.2rem;
    color: white;
    margin-bottom: 25px;
    position: relative;
}

.col ul h4::before{
    content:"";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: white;
}

.col ul{
    list-style: none;
}
.col ul li:not(last-child){
    margin-bottom: 15px;
}

.col ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}

.copyright{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 25px;
}
.copyright p{
    color: white;
}
/*RESPONSIVE BARRA DE NAVEGACION*/
@media {
    
}