@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /*background-color: #ffc077;*/
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: auto;
    background: rgb(255, 250, 250);
}
.contenido-general{
    height: auto;
    width: 100%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-perfil{
    /* height: 700px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    /* background-color: #a3d1ff; */
}

.caja{
    background-color: #a3d1ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.img22{
    border-radius:50%;
    height: 100%;
    width: 100%;
    display: block;
}

.caja .cosa2{
    position: relative;
    top: 10px;
    width: 75px;
    height: 75px;
}

.camara{
    background: rgb(255, 255, 255);
    position: relative;
    left: 25px;
    bottom: 25px;
    top: -12px;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding-top: 3px;
}

.camara #cam1{
    width: 16px;
    height: 16px;
    fill: rgb(43, 26, 70);
}

#nombre{
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em;
    line-height: 32px;
    text-decoration: inherit;
    text-transform: inherit;
}
#editar{
    position: relative;
    left: 2px;
    top: 2.3px;
    font-size: 20px;
    fill: none;
}

#correo{
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    line-height: 18px;
    text-decoration: inherit;
    text-transform: inherit;
    color: rgb(120, 114, 114);
}

.caja .cosa2 p{
    font-size: 10px;
}
/* AQUI VA el nombre y email */
.caja2{
    background-color: rgb(255, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.caja2 .cosa2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

/*-----------------------------------*/
.container-info{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding:5px;
}

.box-info{
    width: 100%;
    justify-content: center;
    padding: 0px 0px 24px;
    margin:0px 0px 8px;
}

.box-info h2{
    font-size: 21px;
    text-align: left;
    text-decoration: none;
    font-family: 'Sans Narrow';
}

.box-part2{
    border: none;
    width: 100%;
    border-radius: 4px;
    box-shadow: none;
}
.bordecito a{
    text-decoration: none;
    color:black;
}
.bordecito a icon{
    margin:20px;
    text-decoration: none;
    color:black;
}

.bordecito{
    text-align: left;
    justify-items: center;
    padding:11px;
    background: rgb(255, 255, 255);
}

.box-info .bordecito{
    margin-top:20px;
    margin-bottom:20px;
    width: 100%;
    height:50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.box-info .bordecito a{
    text-decoration: none;
    color:black;
}

/* .box-info .bordecito a .icon{
    text-decoration: none;
    font-size: 1em;
} */