@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /*background-color: #ffc077;*/
    background: linear-gradient(to left, #ee4a00, #cea904) no-repeat;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: auto;
}

/*CONTENIDO PRINCIPAL*/

.contenido{
    display: block;
    justify-content: center;
}

.contenido-box{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.box-img{
    width: 800px;
    height: 500px;
    margin: 5px;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}

.box-img img{
    width: 80%;
    height: 80%;
}

.box-text{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
}

.box-text span{
    color: white;
    text-transform: uppercase;
    font-size: 250%;
}

.box-text button{
    width: 200px;
    height: 60px;
    background: transparent;
    border: 0.125rem solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    transition: .5s;
    font-size: 150%;
}

.box-text button:hover{
    background: #fff;
    color: #162938;
}

@media (max-width: 680px) {
    #menu-icon{
        display: none;
    }

    #menu-icon2{
        display: block;
    }
}