
/*banner */
.banner{
    display: flex;
    flex-wrap: wrap;
    background-color: #f9813a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
}
/*AQUI TERMINA EL BANNER IMG*/


/*AQUI EMPIEZA EL TEXTO DEL BANNER*/
.contenedor-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: auto;
    width: 100%;
    margin: 10px;
}
.box{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    height: 150px;
    width: 150px;
    margin: 10px;
    border-right: 1px solid white;
}

img{
    height: 90px;
    width: 90px;
}
.box div p{
    color: white;
}
.box2{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    height: 150px;
    width: 150px;
    margin: 10px;
}

.box2 div p{
    color: white;
}
/*AQUI TERMINA EL TEXTO DEL BANNER*/
.content-titulo{
    width: 100%;
    text-align:center;
    background-color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
    border-top: 2px solid rgb(0, 255, 255);
}
.content-titulo h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}