
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /*background-color: #ffc077;*/
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: auto;
}

/*banner */
.banner{
    display: flex;
    flex-wrap: wrap;
    background-color: #f9813a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
}
/*AQUI TERMINA EL BANNER IMG*/


/*AQUI EMPIEZA EL TEXTO DEL BANNER*/
.contenedor-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: auto;
    width: 100%;
    margin: 10px;
}
.box{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 150px;
    margin: 20px;
    border-right: 1px solid white;
}

img{
    height: 120px;
    width: 120px;
    border-radius: 56px;
}
.box div p{
    color: white;
}
.box2{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    width: 150px;
    margin: 15px;
}

.box2 div p{
    color: white;
}
/*AQUI TERMINA EL TEXTO DEL BANNER*/
.container-tit{
    margin: 10px;
}
/*CONTENEDOR 1*/
.container-servicio{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.caja{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cosa1{
    height: auto;
    width: 300px;
}
.cosa1 img{
    width: 100%;
    height: 100%;
}

.cosa2{
    padding-top: 50px;
    width: 70%;
    height: auto;
    text-align: center;
    justify-content: center;
}

.cosa2 p{
    width: 100%;
    height: 100%;
}

/*CONTENEDOR 2*/
.container-equipo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
}

.container-cajas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.caja2{
    margin: 30px;
    align-items: center;
    text-align: center;

}

.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.foto{
    width: 200px;
    height: 200px;
}

.foto img{
    width: 100%;
    height: 100%;
    border-radius: 180px;
}

.descripcion h5{
    font-size: 100%;
}
